<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="static/css/bootstrap.css">
</head>
<body>
  <nav>
    ​
  </nav>
  <header>
    ​
  </header>
  <main>
  ​ <ul>
      <li><a href="/dashboard/ntekal">ntekal</a></li>
      <li><a href="/dashboard/MrMendonez">MrMendonez</a></li>
      <li><a href="/dashboard/jdmiragliotta">jdmiragliotta</a></li>
      <li><a href="/dashboard/paulducsantos">paulducsantos</a></li>
      <li><a href="/dashboard/ntekal">ntekal</a></li>
      <li><a href="/dashboard/ntekal">ntekal</a></li>
      <li><a href="/dashboard/ntekal">ntekal</a></li>
      <li><a href="/dashboard/ntekal">ntekal</a></li>
      <li><a href="/dashboard/ntekal">ntekal</a></li>
    </ul>
  </main>
<footer>
  ​
</footer>
​
<script src="static/js/jquery-2.2.0.min.js"></script>
<script src="static/js/bootstrap.js"></script>
</body>
</html>